.home-page {
  padding: 1rem;
  position: relative;
  width: 100%;
  padding: 1rem;
  padding-right: calc(150px + 1rem);
  box-sizing: border-box;
  
}

.home-page app-aux-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 150px !important;
  overflow-y: auto;
}